<div class="d-flex row">
    <div class="d-flex flex-column align-items-center col-md-6">
        <img width="100px" height="100px" style="border-radius: 100%;" src="assets/person.png" alt="">

        <h4 class="text-bold mt-2">Nahid Hassan</h4>
        <div style="font-weight: lighter;" class="mt-2">UI/UX Designer</div>

        <div class="d-flex my-3">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>

        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos alias dolorem 
            consectetur 
            laborum consequatur excepturi eaque rerum aut optio unde cumque animi facere, 
            numquam veniam voluptas eius? Ut, consequatur voluptate.
        </div>
    </div>

    <div class="col-md-6">
        <i style="font-size: x-large;" class="fa fa-building"></i>

        <h4 class="my-3">Khan Academy</h4>
        <p style="font-size: x-small;">Education Company</p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, atque.
             Velit debitis eum doloremque laboriosam ullam quasi sequi rem aspernatur! 
             Commodi, quasi accusamus? Quisquam eveniet corrupti similique itaque quam est!
        </p>

        <div class="card p-4">
            <div class="d-flex justify-content-between ">
                <div class="card-title fw-bold">Book Tutor</div>

                <div style="border-radius: 10px;background-color: rgb(183, 222, 246);" class="p-2">Currently Available</div>
            </div>
            
            <div class="d-flex align-items-center">
                <img src="assets/person.png"  width="80px" height="80px" style="border-radius: 100%;margin-left: 0px;">
                <img src="assets/person.png"  width="80px" height="80px" style="border-radius: 100%;margin-left: -10px;">
                <img src="assets/person.png"  width="80px" height="80px" style="border-radius: 100%;margin-left: -10px;">
                <img src="assets/person.png"  width="80px" height="80px" style="border-radius: 100%;margin-left: -10px;">
                <div class="p-2 border bg-white" style=" border-radius: 20px; padding: 10px 20px;margin-left: -10px;z-index: 2;">
                    5 People booked
                </div>
            </div>
            <button (click)="navigate('calender')" class="btn btn-primary btn-block mt-2">Schedule Appointment</button>
            <button (click)="navigate('chat-page')" class="btn btn-secondary btn-block mt-2">Chat with Tutor</button>
        
        </div>
    </div>
</div>