<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-1 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Tutor Booking</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/tutor-search">Tutor Search</a>
    <a class="p-2 text-dark" routerLink="/calender">View Calender</a>
    <a class="p-2 text-dark" routerLink="/my-groups">My Groups</a>
  </nav>


  <div *ngIf="!(authService.token$|async)" class="d-flex align-items-center">
    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-decoration-none" dropdownToggle>Sign In </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/register">Register</a>
        <a class="dropdown-item" routerLink="/login">Login</a>
      </div>
    </div>
    <img src="" class="img-class col" alt="">
  </div>

  <div *ngIf="(authService.token$|async)" class="d-flex align-items-center" style="margin-right: 15px;">
    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-decoration-none" dropdownToggle>User Profile</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/user-edit-profile">Account Details</a>
        <a class="dropdown-item" (click)="logout()" routerLink="/login">Logout</a>
      </div>
    </div>
    <img src="" class="img-class col" alt="">
  </div>


</div>