<h5 class="text-center">Set Your Password</h5>
<div class="d-flex justify-content-center">
    <form class="p-4 form-width" [formGroup]="formGroup" (ngSubmit)="setPassword()">

        <app-grouped-input [formControl]="$any(formGroup.controls['password'])" [label]="'Password'" [type]="'password'"
            [icon]="'fa fa-key'"></app-grouped-input>

        <app-grouped-input [formControl]="$any(formGroup.controls['confirmPassword'])" [label]="'Confirm Password'"
            [type]="'password'" [icon]="'fa fa-key'"></app-grouped-input>

        <div class="d-flex justify-content-center">
            <button [disabled]="formGroup.invalid" class="btn btn-primary mt-3" type="submit">Update Password</button>
        </div>

    </form>
</div>