
<div style="height: 50vh;" class="d-flex justify-content-center flex-column">

    <div class="text-center">
        <div style="font-weight: bolder;font-size: x-large;">Appointment Has Been Booked Successfully</div>
           <div class="mt-4">
               Please go to the chat section when its time for your interview
           </div>
       </div>
       
       
       
       <div class="d-flex justify-content-center mt-4">
           <button (click)="router.navigateByUrl('chat-page')" class="btn btn-secondary">Check out Chats</button>
       </div>

</div>

