<h5 class="text-center">Login User</h5>
<div class="d-flex justify-content-center">
    <form class="p-4 form-width" [formGroup]="formGroup" (ngSubmit)="loginUser()">

        <app-grouped-input [formControl]="$any(formGroup.controls['email'])" [label]="'Email'" [type]="'text'"
            [icon]="'fa fa-envelope'"></app-grouped-input>

        <app-grouped-input [formControl]="$any(formGroup.controls['password'])" [label]="'Password'" [type]="'password'"
            [icon]="'fa fa-key'"></app-grouped-input>

        <div class="d-flex justify-content-center">
            <button [disabled]="formGroup.invalid" class="btn btn-primary mt-3" type="submit">Login</button>
        </div>

    </form>
</div>