<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <form [formGroup]="searchFormGroup" (submit)="searchGroup()">
                <div class="input-group mb-3">
                    <input formControlName="query" type="text" class="form-control" placeholder="Search For Group"
                        aria-label="Search" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button [disabled]="searchFormGroup.invalid" class="btn btn-primary input-group-text"
                            type="submit" style="height: 100%"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <app-group-grid [groups]="groups"></app-group-grid>
</div>